{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
<div class="container">

<div class="item item:cover">
	{% for itemlibro in milibro %}
    <h1>{{itemlibro.libro}}</h1>
    <h2>{{itemlibro.autor}}</h2>
    {% endfor %}
</div>

<div class="item item:toc">

  <h1>Índice de contenidos</h1>

<ul>

{% for itemcapitulo in listacapitulos %}
  <li class="chapter level-1">
    <span>Capítulo {{loop.index}} </span>
    <a href="{{ path('gens_capitulo', {'libro': libro, 'capitulo': loop.index}) }}">{{itemcapitulo.capitulo}}</a>
  </li> 
  {% else %}
  <li class="chapter level-1">
    <span>Oooooops! Aun no hay capítulos para este libro.</span>
  </li> 
                                                                                      
{% endfor %} 

</ul>

</div>



</div>


{% endblock fos_user_content %}
